* {
    margin: 0;
    padding: 0;
}

html body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Assistant', sans-serif;
}


header {
    width: 100%;
    padding: 0px;
    background-color: white;
    position: sticky;
    z-index:1;
    top:0;
}

.logo {
    width: 120px;
    margin-top: 20px;
}


/* Vi har fået inspiration til vores burger navigation via dette link: 
https://github.com/michellemotivates/flexnavigation?fbclid=IwAR0_c0ZLoXCn9eAdJbDW3Rfxj8GEq2y-4KfjU59VtbynVhvAlqYw3OsyYUk 
*/



#burger {
    display: flex;
    justify-content: space-between;
    margin-left: .5em;
}



#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;

}

#main-nav a:hover {
    color: #BA0808;

}

.active {
    color: #BA0808;

}

.hidden {
    display: none;
}


nav {
    background-color: white;
    color: black;
    padding-bottom: 10px;
    padding-top: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
    opacity: 0.9;
    display: flex;
}


nav li {
    list-style-type: none;
    display: inline-block;
    padding-right: 60px;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;


}


nav a {
    text-decoration: none;
    color: black;
    
}

ul {
    width: 950px;
    float: right;
}


/* DROP DOWN 
Vi har fundet inspiration til vores drop down menu via dette link: https://www.w3schools.com/howto/howto_css_dropdown.asp */ 


.dropbtn {
  color: black;
 
  font-size: 20px;
  border: none;
    font-family: 'Assistant', sans-serif;; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-size: 15px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}





/* FORSIDE */

#bghav {
    position: relative;
    background-image: url("../images/forside.gif");
    opacity: 0.8;
    height: 750px;
    background-position: center;
    /* Centrer billedet */
    background-repeat: no-repeat;
    /* Billedet gentager ikke */
    background-size: cover;
    /* Gør så billedet udfylder hele containeren */
}


.forsidetekst {
    font-family: futura; 
    color: white;
    font-size: 2rem;
    margin-left: 4%;
}

.forsidetekst1 {
    font-size: 2.5em;
    padding-top: 50%;
    margin-left: %;
  
}

hr {
    height: 4px; 
    background: #BA0808; 
    width: 7em; 
    border-bottom-color: #BA0808;
    border-style: hidden; 
   
}


a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: futura; 
}

h3 {
    font-family: futura; 
    font-size: 40px;
}

h4 {
    font-family: 'Assistant', sans-serif;
}

.center {
    text-align: center;
    font-size: 40px;
}


.voresafdelinger {
    display: flex;
    flex-direction: column;

}

.afdelinger {
    font-family: 'Assistant', sans-serif; 
    font-size: 30px; 
    padding-top: 
}



.vorestekst {
    width: 40%;
    text-align: center; 
}

.afdeligsboks {
    width: 40%;

}

.vores {
    font-size: 35px;
    color: #BA0808;
    text-align: center; 
    margin-left: 70px;
    padding-top: 15%;
    
    
}


.afdelinger a:hover {
    color: #BA0808;

}


 .afdeling1 {
        margin-left: 70px; 
     padding-top: 4%; 
    }

    .afdeling2 {
        margin-left: 70px; 
        padding-bottom: 5%; 
        padding-top: 4%; 
    }




.center {
    padding-top: 5%;
    color: white;
    font-family: futura;
}

.fiskensrejse {
    position: relative;
    background-image: url("../images/planker.jpg");
    margin-top: ;
    height: 750px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding-bottom: 10%;
}

.nyheder {
    background-image: url(../images/havneknejpe.JPG);
    height: 300px; 
    margin: 2%; 
    
}

.nyhedtitel {
    color: #BA0808; 
    text-align: center; 
    padding-top: 4%;
   
}

.nyhedstekst {
    padding: 4%; 
    text-align: center; 
    font-size: 20px; 
    color: white; 
    
}

.menuforside {
    
    background-image: url(../images/menu.jpg); 
    background-repeat: no-repeat;
    height: 300px; 
    margin:  2%; 
    opacity: 0.9; 
}

.menukortforside {
    color: #BA0808; ; 
    text-align: center; 
    padding-top: 4%;

}

/* LÆS MERE KNAP - har vi fundet indspiration til på W3Schools "https://www.w3schools.com/css/css3_buttons.asp"*/ 

.button, .button1 {
    background-color: transparent;
    border: 2px solid white;
    padding: 0.1em 4em;
    cursor: hand;
    transition: background .4s ease-in, transform .25s ease-in-out;
    width: 15%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center; 

}


.button:hover {
    background-color: #BA0808; 

}

.button1:hover {
    background-color: #BA0808; 
}

.button1 {
    margin-top: 100px; 
}

.laesmere {
    color: white; 
    font-family: futura; 
}







/* RESTAURANT */


/* Baggrundsbille af restaurant */ 

.boks1 {
    background-image: url(../images/rest.jpg);
    position: relative;
    opacity: 0.8;
    margin-top: ;
    height: 400px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    width: 100%;
    align-content: center;
}

/* Container til flex */ 

.opsaetning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.placeringrestaurant{
    width:100%
}
.aabningsboksbutik {
    width: 100%; 
}

.boks2 {
    width: 100%;
    background-color: beige;
    margin-left: 2%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* Tekst på billede */ 

.covertekst {
    font-size: 300%;
    color: white;
    text-align: center;
    margin-top: 35%;
}


.om {
    font-size: 120%;
    padding-left: 10%;
    padding-right: 10%; 
    padding-bottom: 5%;
    
}


.boks3 {
    text-align: center;
    display: flex; 
    height: 200px; 
}

.aabningstider {
    text-align: center;
}


.aabningstekst {
    font-size: 1em; 
    width: 200px;
}

.aabning1 {
    width: 40%; 
}

.aabning2 {
    width: 40%; 
    font-family: 'Assistant', sans-serif;
}


.bokstekst {
    padding-left: 10%;
    font-family: 'Assistant', sans-serif;
    font-size: 200%;
}

.tider {
    font-size: 1em; 
}

.obs {
    margin-left: 45px; 
    font-size: 1em; 
    margin-bottom: 20px; 
}

/* Baggrundsbillede til menukort */ 

.boks4 {
    background-image: url(../images/menukort.jpg);
    position: relative;
    opacity: 0.8;
    margin-top: ;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-content: center;
}

.menukort {
    font-size: 400%;
    text-align: center;
    padding-top: 8%; 
}

.menukort a:hover {
    color: #BA0808;

}




/* Havneknejpen */


/* Baggrundsbillede af Havneknejpen */ 

.havneknejpeboks {
    background-image: url(../images/knejpe.JPG);
    position: relative;
    opacity: 0.8;
    margin-top: ;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-content: center;
}

.aabningsboksknejpe {
    height: 350px;
    padding-right: 0%;
    width: 100%; 
}

.aabningstekstknejpe {
    font-size: 1em; 
    width: 100%; 
}

.aabningstekstknejpe1 {
    font-size: 1em; 
    width: 150px; 
}

.tiderknejpe {
    font-size: 1em; 
}

/* Baggundsbillede af event */ 

.eventboks {
    background-image: url(../images/havneknejpe.JPG);
    position: relative;
    opacity: 0.8;
    margin-top: ;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-content: center;
}

.event {
    height: 550px; 
    width: 90%;
    border: 3px solid #BA0808; 
    align-content: center; 
    margin-left: 2%; 
    margin-top: 30px; 

}

#events {
    text-align: center; 
}

#events p{
    color: white;
    text-align: center; 
    
}

#events h4 {
    padding-bottom: 0px; 
    padding-top: 5%; 
    color: white; 
    font-size: 1.5em; 
} 

.eventtekst {
    font-size: 2em;
    color: white;
    padding-top: 10%; 
    text-align: center; 
}

 .aabningroed {
    width: 300px; 
     margin-bottom: 20px; 
    }



/* FISKEBUTIK */


/* Baggrundsbillede til fiskehandlen */ 

.boks7 {
    background-image: url(../images/laks.jpg);
    position: relative;
    opacity: 0.8;
    margin-top: ;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-content: center;
}


.fiskehandelimg {
    position: relative;
    width: 94%;
    padding: 2%;
    
}

.boksbutik {
    text-align: center;
    display: flex; 
    padding-left: 2%;
    height: 30em; 
}

.krabbe {
    position: relative;
    width: 94%;
    padding: 2%;

}

.aabningstekstbutik {
    font-size: 1em; 
    width: 20%; 
}

.tiderbutik {
    font-size: 1em; 
}





/* KONTAKT */

#bgkontakt {
    position: relative;
    background-image: url("../images/kontakt.jpg");
    opacity: 0.8;
    margin-top: ;
    height: 750px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.positionkontakt {
    display: flex; 
    flex-direction: column; 
    padding-top: 200px; 
}


.bgkontakt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.kontakt {
    width: 85%;
    height: 10em; 
    background-color: beige;
    margin-left: 2%;
    padding: 2%;
    margin-bottom: 0%;
    text-align: center;


}




.kontaktoverskrift {
    font-size: 300%;
    color: white;
    padding-left: 27%; 

}

.kontaktinfo {
    text-align: center; 
    padding-top: 3%;
}


/* vores kort som viser hvor Fiskehallen ligger, har vi hentet på "https://maps.google.com/maps?q=fiskehallen&t=&z=13&ie=UTF8&iwloc=&output=embed" */  

.mapouter {
    position: relative;
    text-align:right;
height:100%;
    width:100%;
}

#gmap_canvas{
overflow:hidden;
    background:none!important;
    height:100%;
    width: 100%;
}


/* OM FISKEHALLEN */


/* Containere */ 

.container {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.container .title {
    letter-spacing: 1rem;
}

.container h1 {
    font-size: 1em;
    margin-right: -1rem;
    letter-spacing: 0.5rem;

}


.container h2 {
    font-size: 2.5rem;
   
    color: #fff;
    z-index: 6;
    opacity: 0.8;
    font-family: futura;

}

/* Får titel til at 'fade' ind */ 

@-webkit-keyframes h2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    -webkit-animation: h2 2s;
}


h4 {
    font-size: 20px;
    padding-bottom: 3%;
    color: white;
}

.fotekst {
    margin-bottom: 20%;
    text-align: center;

}

p {
    font-size: 1.3em; 
    text-align: justify;

}

h2 {
    font-size: 15px;
}

.quote {
    font-size: 1em;
    color: white;
}

.auktiontekst {
    width: 100%; 
    font-size: 1em;
    color: grey;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    line-height: 0.5rem;
    padding: 5%;
    line-height: 1.5rem;

}


/* Delene med tekst mellem billederne */ 

.between {
    height: 10rem;
    position: relative;
    opacity: 0.5;
}


.betweenom {
    height: 25rem;
    position: relative;
   

}

.betweenauktion { 
    height: 25rem;
    position: relative;
     display: flex; 
    flex-direction: column; 
}

.betweenvideo {
    height: 25rem;
    position: relative;

}

.style{
    float: left; 
    width: 50%; 
} 



/* Tekst på billeder */

.bg {
    width: 100%;
    margin-left: 5%;

}

.bgwell {
    width: 100%;
    margin-left: 5%;

}

.bgroeg {
    width: 90%;
    
}


h1 {
    color: white;
    width: 100%;
    margin-right: 20%;
}



.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hvidtekst {
    color: white;
    font-size: 1.3em; 
}




/* Container til hvert afsnit */

.container .fo {
    background-image: url("../images/fisk1.JPG");
    opacity: 0.8;
    padding: 8rem 0;
}


.container .auk {
    background-image: url("../images/auktion.JPG"); 
    opacity: 0.9;
    padding: 10rem 0;
}

.container .ko {
    background-image: url("../images/auktion2.JPG");
    padding-bottom: 20rem;
    padding-top: 10rem;

}

.container .we {
    background-image: url("../images/wellfish.JPG");
    opacity: 0.8;
    padding: 10rem 0;
}



.container .roeg {
    background-image: url("../images/laks.jpg");
    padding: 20rem 0;
    opacity: 0.9; 
}


.container .fi {
    background-image: url("../images/fiskehallen.JPG");
    opacity: 0.8;
    padding: 20rem 0;
}

.container .mad {
    background-image: url("../images/mad.jpg");
    padding: 10rem 0;
}


.container .vi {
    background-image: url("../images/planker.jpg");
    padding-bottom: 10rem;
    padding-top: 10rem;
    display: flex; 
    flex-direction: column; 


}


/* Styling til teksterne mellem billederne */ 

.style {
    float: left;
    width: 50%; 
}





/* YouTube videoer */

#web1 {
    width: 680px;

}

#web2 {
    width: 680px;
}

.dinfisker1 {
    float:right; 
    width: 100%; 
}

.dinfisker {
    float:right; 
    width: 100%; 
}

iframe {
    width: 100%; 
    height: 315px; 
    border: none; 
}










/* Parallax */

.container .parallax {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment:;  
    overflow: hidden;
}

.musemarkoer {
    cursor: pointer;
}


/* Overskrifter */

.auktion {
    color: #2FA04B;
}

.wellfish {
    color: #2D7BBE;
}

.fiskehallen {
    color: #C41A1A;
}

.fiskere {
    color: gray;
}

h1.fisker{
       font-size: 2em;
}

.roegeri {
    color: gray;
}



h4 {
  padding-left: 20px;   
}




/* Footer */

footer {
    text-decoration: none;
    display: flex;  
    background-color: beige;
    /* padding-left: 165px; */ 
     

}

.footerkasse {
   padding-top: 20px; 
    padding-bottom: 2%; 
}

.footeroverskrift {
    font-size: 120%;
    color: #BA0808;
}


.pfooter {
    font-size: 100%;
    color: black;
}



/* Et skjult element i headeren, for at få ventreret logoet */ 

.skjult {
        display: block; 
        visibility: hidden; 
        
    }



/* TIL TELEFON */

@media all and (max-width: 599px) {

    header {
        display: block;
        padding: 0%; 
    }
    
    .forsidetekst {
        margin-left: 0%; 
    } 

    .logo {
        width: 90px;
        display: block;
        margin-bottom: 8px; 
        align-items: center; 
    }


    #burger {
        align-items: center;

    }
    
    
    #burger label {
        display: block;
        font-size: 3em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    nav {
        position: absolute;
        top: 64.031px;
        
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
    }


    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
        display: flex;

    }
    


    /* FORSIDE */

    #video {
        width: 100%;
        margin: 0%;
    }


    .opsaetning {
        flex-direction: column;
    }
    
    .boks1 {
        width: 100%; 
        
    }
    
    /* RESTAURANT */ 
    
    .boks2 {
        width: 100%;
        padding:0;
        margin:0;
    }
    
    .menukort {
        font-size: 300%; 
    }
    
    boks3 {
        width: 100%; 
    }

    
   
     
    /* FISKEHANDEL */

    .boks6 {
        width: 100%;
    }
    
    .aabningsboks {
        width: 100%;
    }
    

    
    /* HAVNEKNEJPE */
    
    .covertekst {
        font-size: 200%; 
    }
    
    .havneknejpeboks {
        height: 300px;
    }
    
    /* OM */

    .fiskensrejse {
        height: 400px;

    }
    
    .kenddinfisker {
        display: flex;
        flex-direction: column;

    }
    
/* KONTAKT */
    
      .kontaktoverskrift {
       padding-left: 15%;  
    }
    
    .kontakt {
        margin-left: 5%; 
    }
    
    .positionkontakt {
        padding-top: 5%; 
    }


    .footerkasse {
        width: 50%; 
    }
    
footer {
    flex-direction: column;
    padding-top: 2%;
    width: 100%; 
   align-items: center;  
    

}  
    
}



/* TIL TABLET */

@media all and (min-width: 600px) {

    label {
        display: none;
    }

    .skjult {
        display: none;
        width: 90px; 
    }
    
    
    
    /* FORSIDE */
    
    .voresafdelinger {
        flex-direction: row;
    }
    
    .vores {
        margin-left:  10px;
    }
   
    .afdeling1 {
        margin-left: 10px;
        padding-top: 40px;
    }

    .afdeling2 {
        margin-left: 80px;
        padding-top: 40px;
    }
    
    
    /* RESTAURANT */ 
    
    /* Denne røde linje - <hr> - har vi fundet inspiration til på W3Schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_hr */ 
    
    
    hr {
       padding-left: 200px; 
    }
    
    
    /* FISKEHANDEL */ 
    
    .boksbutik {
        height: 450px; 
    }
    
    /* HAVNEKNEJPEN */ 
    
    .aabningsboksknejpe {
        margin-left: 60px;
        width: 50%; 
    }
    
    
    /* OM */ 
    
   .container .vi {
        flex-direction: column; 
    }

    
    /* KONTAKT */
    
  
    
    
    /* Footer */ 
    
    .footerkasse {
        padding: 3%;
    }
    
    footer {
         padding-left: 100px;
    }

}


/* TIL LAPTOP OG OVER */

@media all and (min-width: 1024px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    label {
        display: none;
    }

    .logo {
        display: block;
        margin-left: 5%;
        margin-right: auto;
        margin-bottom: 5px; 
        margin-top: 10px; 
    }

    /* FORSIDE */

    
    .forsidetekst {
        margin-left: 4%; 
    } 
    
    .forsidetekst1 {
        font-size: 4.3em;
        padding-top: 22%;
       margin-left: 4%; 
    }

    #video {
        width: 70%;
        margin-top: %;
        margin-left: 15%;
    }
    
    .covertekst {
        margin-top: 12%; 
        font-size: 100px; 
    }
    
    .voresafdelinger {
    display: flex;
    flex-direction: row; 
}
    
    .vores {
        margin-left: 80px; 
    }
    
    hr {
        width: 900px; 
    }

     .afdeling1 {
        margin-left: 150px; 
    }
    
    .afdeling2 {
        margin-left: 50px; 
    }

    .center {
        margin-bottom: 5%;
    }
    
    .forsidecontainer {
        display: flex;
        flex-direction: row;
    }
    
    .nyheder {
        width: 48%;
    }
    
    .menuforside {
        width: 48%; 
    }
    
    .button1 {
        margin-top: 20%; 
    }

    /* RESTAURANT */
    
    .opsaetning {
        flex-direction: row; 
    }
    
    .boks2 {
        width: 45%; 
        margin-top: 60px; 
    }
    
    .boks3 {
        margin-left: 105px; 
    }
    
    .placeringrestaurant {
      display: flex; 
        flex-direction: row; 
        width: 100%; 
    }
    
    .aabningsboksbutik {
        width: 50%; 
    }
    
    
    .aabningstekst {
        width: 200px; 
        
    }
    
    .aabningstekstbutik {
        width: 200px; 
        

    }
    
    .obs {
        margin-left: 130px;
        font-size: 18px; 
     
    }
    
    .aabningroed {
        margin-left: 1.8em;
    }
    
        
    
    /* Fiskehandel */ 
    
    .boks6 {
        width: 45%; 
    }
    
    .krabbe {
        width: 49%; 
        padding: 30px; 
    }
    
    .placeringbutik {
        display: flex; 
        flex-direction: column; 
    }
    
    .boksbutik {
        flex-direction: row; 
    }
    
    .aabningsboks {
        display: flex;  
        flex-direction: row; 
    }
    
    .boksbutik {
        padding-left: 60px; 
    }
    
    .aabningknejpe {
        width: 550px;
    }
    /* Knejpe */ 
    

    .aabningsboksknejpe {
        margin-left: 0%; 
    }
    
.aabningstekstknejpe {
    font-size: 18px; 
    width: 160px; 
}

.aabningstekstknejpe1 {
    font-size: 18px; 
    width: 160px; 
}

.tiderknejpe {
    font-size: 18px; 
}

    
    /* Havneknejpe */ 
    
    .aabningstider {
        margin-left: 100px; 
        margin-top: 20px; 
    }
    
    .event {
        margin-left: 450px; 
        height: 500px; 
        width: 450px; 
    }
    
    
    
    
    
    
    
    /* Kontakt */
    
    .positionkontakt {
        flex-direction: row; 
    }
    
    .kontaktboks {
        width: 50%; 
        padding-top: 70px; 
    }
    
    .aabningroed {
        width: 40%;  
        margin-left: 8%; 
    }
    
    .tiderbutik {
        width: 200px; 
    }
    
     .placeringbutik {
      display: flex; 
        flex-direction: row; 
        width: 45%; 
    }
    
   
    
    
    /* Om */

    .container .vi {
        flex-direction: column; 
    }
    
   
    .container {
         letter-spacing: 1rem;
    }
    
    p {
    
    font-size: 1.3em;
        }
    
    
    
    .container h1 {
        font-size: 60px; 
        letter-spacing: 1em; 
    }
    
    .afdeling1 {
        width: 20%; 
    }
     

    .container .parallax{
         background-attachment:fixed;
    }
    
    .container h2{
    font-size: 6rem;
    margin-right: -1rem;
        
    }
    
    .bgwell {
        margin-left: 30%; 
    }
    
    .between {
    height: 20rem;
    position: relative;
    opacity: 0.5;  
}
    
.betweenauktion {
    height: 15rem;
    position: relative;
     display: flex; 
    flex-direction: row; 
}
    
    
    .auktiontekst {
        width: 80%; 
    font-size: 20px;
    color: grey;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    line-height: 2rem;
    padding: 5%;
    line-height: 2.5rem;

}

    
    
    .container we {
        padding: 20rem 0;
    }
    
     .fisker { 
        width: 100%; 
         margin-left: 2%;
    }
    
    
    .kenddinfisker {
        flex-direction: row;   
    }
    
        
    .dinfisker1 {
    width: 50%; 
}

.dinfisker {
    width: 50%; 
}

iframe {
    width: 80%; 
}
    
    
    .quote {
        font-size: 1.5em;
    }
   
    
    /* Footer */.


    footer {
        flex-direction: row; 
       
    }
    
    .footerkasse {
        width: 300px; 
        padding-left: 100px; 
    }

} 



